<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EarthquakeMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<applicationSettings>
        <EarthquakeMonitor.Properties.Settings>
            <setting name="Earthquakes_BaseUri" serializeAs="String">
                <value>http://earthquake.usgs.gov/earthquakes/feed/v1.0/</value>
            </setting>
            <setting name="Earthquakes_ResAllMonth" serializeAs="String">
                <value>summary/all_month.geojson</value>
            </setting>
            <setting name="Earthquakes_ResAllHour" serializeAs="String">
                <value>summary/all_hour.geojson</value>
            </setting>
            <setting name="Earthquakes_PollingIntervalMs" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="WorldCities_ZipFile" serializeAs="String">
                <value>worldcities.zip</value>
            </setting>
            <setting name="WorldCities_CsvFile" serializeAs="String">
                <value>worldcities.csv</value>
            </setting>
        </EarthquakeMonitor.Properties.Settings>
    </applicationSettings>

</configuration>